*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
   background-image:linear-gradient(
    to right,
    #d9ffb3,
     #ffff99,
     #23ab34,
     #38b6ff,
    #a1a8fc,
    #de9ae0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    overflow-x: hidden;
}
nav{
    margin-top: 2px;
    height: 80px;
    background-image: linear-gradient(
    to right,
    #38b6ff,
    #a1a8fc,
    #de9ae0,
    #fd94b6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    position: sticky;
    top: 2px;
}
nav h1 {
  color: whitesmoke;
  font-size: 30px;
  letter-spacing: 2.5px;
  word-spacing: 3px;
  
}
nav ul{
    display: flex;
    list-style: none;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0rem 0.5rem;
    

}
nav ul li{
    margin: 0 5px;
}nav ul li a:hover{
    color: crimson;
    border-radius: 100%;
    transition: all 0.3s ease;
}
.logo{
    position: fixed;
    left: 15px;
    top: 15px;
    width: 4.8rem;
    border-radius: 50%;
    float: left;
}
nav .menuBtn{
    color: black;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}


@media (max-width: 760px){
    nav .menuBtn{
        margin: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  position: fixed;
    top: 0%;
    left: 80%;
    }
    .logo{
        position: fixed;
        left: 1opx;
        top: 10px;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: skyblue;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 40px 0;

    }
    nav ul li a{
        font-size: 20px;
        display: block;

    }
    nav ul li a:hover{
        background: none;
        color: cyan;
        border-radius: 100%;
        transition: all 0.3s ease;
    }
    #heading_text{
        display: none;
    }

}b

body {
    position: relative;
    background-image:linear-gradient(
    to right,
    #d9ffb3,
     #ffff99,
     #23ab34,
     #38b6ff,
    #a1a8fc,
    #de9ae0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    overflow-x: hidden;
}
.headText {
    margin-left: 1rem;
    margin-top: 0rem;
    color: white;
    position: absolute;
    /*top: 50%;*/
    left: 20px;
    font-weight: 100;
}
*/
form {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    width: 100%;
    color: black;
    text-align: center;
    font-size: 3rem;
    transform: translate(10px, -50%);
    transition: 1000ms linear
}


h2 {
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.form {
    opacity: 1;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 2rem 5rem 0 rgba(252, 262, 270, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    
    transition: 1000ms ease-in
}
